@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="background" src="/lib/NewFolder/salonnou.jpeg" />
    <h1 class="display-4">Bine ati venit pe pagina salonului!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
